build/
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a
*.dylib
*.app/
.DS_Store
.idea/
.vscode/
*.user
*.log

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.xcuserstate
project.xcworkspace/xcuserdata/

